<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALEMANIA</title>

    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class="container">
            <h2>ALEMANIA</h2>
            <nav>
                <div>
                    <a href="#">Home    </a>
                    <a href="#">Imágenes    </a>
                    <a href="#">Estadísticas    </a>
                    <a href="#">Contact </a>
                    <a href="#">Redes sociales  </a>


                </div>
            </nav>
        </div>
    </header>

    <div class="row">
        <div class="column">
            <img src="../images/Cerveza.jpeg">
            <img src="../images/Cerveza.jpegj">
        </div>
        <div class="column">
            <img src="../images/Cerveza.jpeg">
            <img src="../images/Cerveza.jpegj">

        </div>
        <div class="column">
            <img src="../images/Cerveza.jpeg">
            <img src="../images/Cerveza.jpegj">
        </div>
    </div>


    <div class="image-grid">
        <img class="DesignThinking" src="../images/Cerveza.jpeg" alt="Cerveza">
        <img class="DesignThinking" src="../images/Cerveza.jpeg" alt="Cerveza">
        <img class="DesignThinking" src="../images/Cerveza.jpeg" alt="Cerveza">
        <img class="DesignThinking" src="../images/Cerveza.jpeg" alt="Cerveza">
        <img class="DesignThinking" src="../images/Cerveza.jpeg" alt="Cerveza">
        <img class="DesignThinking" src="../images/Cerveza.jpeg" alt="Cerveza">
    </div>

</body>
</html>