<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALEMANIA</title>

    <link rel="stylesheet" href="../static/style.css">
    <script src="https://kit.fontawesome.com/f87d496edb.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="container">
            <h2> <img class="FLAG" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Flag_of_Germany.svg/2560px-Flag_of_Germany.svg.png" 
                alt=""> ALEMANIA</h2>
            <nav>
                <div>
                    <a href="#">Home     </a>
                    <a href="#">Imágenes     </a>
                    <a href="#">Estadísticas      </a>
                    <a href="#">Contact       </a>
                    <a href="#">Redes sociales   </a>


                </div>
            </nav>
        </div>

    </header>

    

    <section class="ImgAlusivas">
        <div class="responsive">
            <div class="gallery">
                <img src="https://lh3.googleusercontent.com/jg3pN0DgIpRsS_4frYLEilrHupp4FZwTd1Vg9VYY1BmxcYg021ETcDqaOVhUZYr2fJjLSsrZabldkhOCpkpe8vtuHus2376lxyv0ms8IknkSJPl6KUk-rgJQ176l_kpGDFT0ZmPbFBvV_UbEvv5feQKHQSOylXHlRo-6mdFVkcweefJpjBJBTC1vfxyoFSoK9Xp_Yk8Y9VuYFN0Ng1LQ7YyXyroPGWgURYw5b5FzZo0hxqOOQ0lLT_3B0p2R6LBnQAAc2GUmLF6cTwtQ8RNlsjJL5OOND3BCxy7hrJ_4dNxivjFoO6kj6iQgmIjNPWwjwK6GKZ2i6jmeKpcqR-nt6DeAVWtlJaHbrJjdMWutiYer5GopeEHBcYBzGXvVZL_3t_HdFOFtGKoTskLz5O9Fdoy7QWhRhJKLsUS5H6sB8XjKOao-Ge5OUpSpyRKouEmfTm2Ip4Pj2RJQFz8TtwKvIvmBDfRRaPL4ihvJTtIqf7qKrUWCi0cZGlIU8UgGRzxjvWQnxxOzq4a_dcpA2sdSyMd_FRakY_RsrrClg8yb3b8ecMXPru-0mMihFhqXr5RUGKa_f3uLBg6JKSb_DcW5vtOp4-tvahl8wg4B6M7o1TwD25p5QeZRpX_bh2uacQF-VRHvI0k6hZrstCgJSCbA5eR6vZcW8fhrb3l6JmGcRlAgb9_RCp0JjzbUEHcIl3zWSZIqphPEMMMX8814Kx0t-z7kBSPyjnA4Lt-RHGbnzochUg2GYq5hkX3sTrEt0w4=w700-h400-no?authuser=0" alt="Ciudad" >
              <div class="desc">Ciudad</div>
            </div>
        </div>
        <div class="responsive">
            <div class="gallery">
                <img src="https://lh3.googleusercontent.com/njJSOUp5zfqby7suosNgfCtyBiVHI8K446Td8V6vfGWPUs29kAp1bHi2wvzZKjL8BwuWjEhHBvRUtKOvSOSoBF8DXXYIvS7MqeWNGkYRqQO1wBtvRy3_z6nmO1v9VLM7fVvQxxIQG2JtM2-NzjZhTJJ6XQmFKykE53VUqR1xPGy5RAY-NWG_cbpK61x611cFgu9OUQ_hEiyE-xhPTLknCb-h6nm-dYwjHEKIxb8X3_RJT7_JvK6bqIa5cLx1vLpahqPmebxr_GdCez7WYXC_HYNlr_xFSaUxqANA8q7XesvCmrWZ157QFbXbaLYb8P_Buvz80rAJ80Ti_3FqhQKM0f67pk9ziDu035PzhI9lnL_r6Dr2VSkCCGhrclC7MgexBi53scRj5rEwrXhOnHFCbP1WHvrDBQZaGKCvhHWr-y0ibplRkZx2fZ9IWdLBu-ER51DSW_Y7g0mIR5caW5mkxMmL7m0Mb90gos6MFM5nRKkLm_FiKCwKzrMcsrdqz8znF-MuPK-Ay8RIhfKKcJZB1heZaE_J_I7_MRtcavaikl5AaxUmS5n2IAPOwGpQl0MfPafpq87nnhKcSygqkHscroXICxo4QM5Xe_dB3NxuDKlyfpyPxtUfjQCFfdsfkgRE3_PgMN0m6F_u2t3p5r2_EEfxyPq7e_SQMJrMkaXKy7OOohMU9bsq_V1bgLcSBXwLVf3-1ix3I603T_y5hkcn6T9Y1XDpJH2RD53q2R8Qv-y4LYeFaNwE6ieXEnIucmc=w938-h625-no?authuser=0" alt="Cultura">
              <div class="desc">Cultura</div>
            </div>
        </div>
        <div class="responsive">
            <div class="gallery">
                <img src="https://lh3.googleusercontent.com/nxrpU-NYTldfdEbdVOceroSwqVddCJkD-0Dz6y-25qrgs2DGmdEYLyzVrqEWIiKq0r4zLsXaPYjPqm87VugL-iWF2w1m3bSCGTyR-VOjWNtoNt8qpprfGQh5dV7pMuEuNA8XZqqegsPiz4XDNRcbL5E1OD4XNwqqxhG8S6uCTbTgOtRIKO9P3tI2_s4XcvFWZ3xELzjmOY99b1JUPLwrNYpWqdT6U86KhYW3fn1J0c_dZSaGshnvjIURx72DXXqh0PthDDam8K6lLcSfBBKL1qKpQ5RA6HYH03PLKBmF-eGylaIdeUNSmDqJrMNtPHK9QkKrVTpOze0ARoQAMw0G-t_IxR5yvwEvpAAYrHxMhI3bVQ-1NCu19DsGwwsJ8gkmc86tKR4K31HEKKRD-HW4bD-eeFUgM9caStNJs4XvLkITmZ_CfbexMnpTzp8HReVpoTApSHzRmRJvcsGLLTq5wWaCNNoLpOlPsDbG1Pq92ZCACIrbK2JmnMbGdiI2ml7ZSdIvA7kyl7n7JOKc-X559OS3B6pN-p0JPMxE_Todvg__wNxl47WsDqeRTLj01_EV_MaAnPD_1GaQLIw0eFFzktHaUsi7xXieFunIXZgYV2RUvXrszj-5kctlwBz0PwqBcl5SZRhz_ezX7VvYgQyx_At2WXHsUVHI0phF1-vAtpgYXfRuKR9u5FAJjHfaW_B72DQnpHmejQctdVoqUBowpdkvJyAmdEGO4IEoV--GN5XLZTH7kowUipXmBF3tG5c=w800-h400-no?authuser=0" alt="Vestimenta">
              <div class="desc">Vestimenta</div>
            </div>
        </div>
        <div class="responsive">
            <div class="gallery">
                <img src="{{url_for('static', filename='images/Gastronomia.jpeg')}}" alt="Gastronomía">
              <div class="desc">Gastronomía</div>
            </div>
        </div>
        
        <div class="clearfix"></div>

        <div style="padding:6px;">


    </section>


    <section class="MainStats">
        <div>
            <table>
                <tr>
                  <td class="Subheaders">Population</td>
                  <td>83,240,525 (2020)</td>
                  <td>icon</td>
                </tr>
                <tr>
                  <td class="Subheaders">Population Growth Rate</td>
                  <td>0.177 annual % (2020)</td>
                  <td><i class="fa-solid fa-euro-sign"></i></td>
                </tr>
                <tr>
                    <td class="Subheaders">Urban Population</td>
                    <td>77.453 % of total (2020)</td>
                    <td>iCON</td>
                  </tr>
              </table>
            </div>
    </section>


    <section class="form">
        <h2>Contact us</h2>
        <form action="POST">
            <fieldset>
                <label for="Nombre"> Name:</label>
                <input type="text" name="Nombre" id="Nombre">
            </fieldset>
            <fieldset>
                <label for="Email"> Email:</label>
                <input type="email" name="Email" id="Email">
            </fieldset>
            <fieldset>
                <label for="Número de celular"> Phone:</label>
                <input type="text" name="Número de celular" id="Número de celular">
            </fieldset>
            <fieldset>
                <label for="Mensaje"> Message: </label>
                <textarea name="Mensaje" id="Mensaje" cols="30" rows="10"></textarea>
            </fieldset>
            <input type="submit" value="Enviar mensaje">
        </form>


    </section>
    
    
    <section class="about">
        <div>
            
            <h1>Juan Felipe Bolaños Henríquez</h1>

                <ul>
                    <li>Un creativo dinámico que sabe como adaptarse a las circunstancias
                        presentadas mediante la resolución integral de problemas: racional y emocionalmente.</li>

                    <li>Un soñador que busca
                        inspirar a los demás a ser su mejor versión para generar un impacto positivo.</li>
                </ul>
            
                <img class="foto" src="{{url_for('static', filename='images/FotoPersonal.jpg')}}" alt="FotoFelipe">

            <h3>Telefono: +503 7465 9425</h3>

        </div>
    </section>


    <div class="footer">
        <footer>
          <nav class="redes-sociales">
            <a href="https://www.instagram.com/felipeb350" target="_blank"><i class="fab fa-instagram fa-xl"></i></a>
      
            <a href="https://www.linkedin.com/in/felipe-bola%C3%B1os-827058200/" target="_blank"><i class="fa-brands fa-linkedin fa-xl"></i></a>

            <a href="https://github.com/FelipeB35" target="_blank"><i class="fa-brands fa-github fa-xl"></i></a>

            <p class="copyright">
            &copy; Felipe 2022
            </p>
          </nav>
    </footer> 
    </div>
   


</body>
</html>